#topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
}
#navbar ul li{
    text-decoration: none;
    display: inline;
    margin: 10px 25px;   
}
#navbar ul :last-child{
    margin: 0px;   
}
